.BatteryStatus {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00aaff;
    text-align: center;
    background: #101010;
    border: 2px solid #00aaff;
}
.BatteryStatus p {
    font-size: 18px;
    font-weight: bold;
}
