.drone-map {
    background: #101010;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00aaff;
    text-align: center;
    margin-top: 20px;
    flex-grow: 2;
    min-width: 400px;
    border: 2px solid #00aaff;
}
